opencv-python  
numpy
pandas
matplotlib
seaborn
scikit-image
scikit-learn
scipy
ipywidgets          # For tqdm.notebook in pipeline_final.ipynb and general Jupyter widgets
jupyter             # For running the notebook
notebook            # For running the notebook (if not using JupyterLab)
jupyterlab          # Optional, if they prefer JupyterLab
gradio              # For segmentation_tuner.py
tqdm                # Used by both scripts
xgboost
cookiecutter

# Cookie cutter

loguru 
dotenv